
/* It's start with position parents or nearest parent  */

#sam{
    border: 2px solid red;
    width: 50%;
   padding: 20px;
   margin-top: 100px;
   position: relative;
   /* Relative : Start caculatiion with hi's own palce but  */
   /*  Or with nerest parents */
}

#sam2{
 width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block ;
    /* position: relative; */
    position: absolute;
    top: 0px;
}
#sam3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    /* position: relative;
top: 50px;
left:50px; */

}
#sam4{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}