#hello{
    padding: 20px;
    margin: 20px;

}
a{
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    color: white;
    display: inline-block;
  transform: skew(30deg , 2deg);  
   
  
}

  a:hover {
      display: inline-block;
      /* transform: translate(50px 50px); */
      /* transform: rotate(20deg);  */
      /* transform: rotate(-50deg);   */

      /* transform: scale( 2 );   */

      /* transform: scalex( 2 );   */
      /* transform: scaley( 2 );   */


  }

