

@keyframes changecolor{
  
    0%{background-color: red;border;border-radius: 0%;}
    10%{ background-color: yellow; border-radius: 10%;}
    20%{ background-color: yellow; border-radius: 20%;}
    30%{ background-color: yellow; border-radius: 30%;}
    40%{ background-color: yellow; border-radius: 40%;}
    50%{ background-color: yellow; border-radius: 50%;}
    60%{ background-color: yellow; border-radius: 40%;}
    70%{ background-color: yellow; border-radius: 30%;}
    80%{ background-color: yellow; border-radius: 20%;}
    90%{ background-color: yellow; border-radius: 10%;}
    100%{ background-color: yellow; border-radius: 0%;}
    
    
    
    
    }
    


#hel{

    background-color: red;
    height: 200px;
    width: 200px;
    animation-name:changecolor ;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
    animation-direction: alternate;
}
}