/* Table Layout */
table{
    border: 2px solid red;
    border-collapse: separate;
    border-spacing: 20px 30px;
    empty-cells: hide;  /*It's use to hide the empty cell */
    /* width: 300px; */ width: 100%;
    table-layout: auto; /*It's fix or cnhange*/
}
caption{
    border: 1px solid blue;
    caption-side: bottom;
}

tr{
    border: solid rgb(54, 59, 54) 1px;
}

th{
    border: solid green 1px;
    height: 30px;
    padding: 10px;
    text-align: right;
}
td{
    border: solid pink 1px;
height: 15px;
padding: 1px;
text-align: left;
}

/*  */