

.hello{
    background-color: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 70vh;
    align-items:center;
    flex-wrap: wrap;
    
}

.hello1{
    background-color: pink;
    margin: 20px;
    padding: 20px;

    width: 100px;
    text-align: center;
  
}

#One{
    order: 1;
}

#Two{
    order: 3;

}

#Three{
   order: 2;
}