.dis{
   border: 1px solid red;
   width: 50%;
   height: 100px;
   /* display: inline;  */

   display: inline-block; 

}

#hello{
    display: none;
}

#visibility {
    visibility: hidden;
    height: 500px;
}